.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.flex > * {
  margin: 10px;
}
.gameHeader {
  margin: 30px 0px;
  text-align: center;
}

.gameHeader p {
  font-size: 32px;
  margin: 0px 0px 30px 0px;
}

.buttonWrap {
  text-align: center;
  margin: 3rem;
}

.card {
  width: 100%;
  height: 380px;
  align-self: center;
  justify-self: center;
}
