.flex {
  margin: 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  text-align: center;
}

.card {
  width: 100%;
  height: 380px;
  align-self: center;
  justify-self: center;
}

.pokemonCard.selected {
  margin-top: -40px;
  margin-bottom: 40px;
}
